body {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 2fr 1fr; 
}

header {
    display: 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    float: left;
}

#mic {
    height: 10%;
    width: 10%;
}

#searchbox {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    text-align: center;
}